@model AddressManagement.Models.AddressViewModels.AddressViewModel
@{
    ViewData["Title"] = Model.IsUpdate ? "住所編集" : "住所登録";
    ViewData["ReturnUrl"] = Model.IsUpdate ? "Update" : "Insert";
    ViewData["BottunText"] = Model.IsUpdate ? "更新" : "登録";
}

<h2>@ViewData["Title"]</h2>
<section>
    <form asp-action="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <br />

        <input asp-for="AddressID" type="hidden" />
        <input asp-for="IsUpdate" type="hidden" />

        <div class="row form-group">
            <div class="col-md-2">
                <label asp-for="Title"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="Title" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label asp-for="PostalCode"></label>
            </div>
            <div class="col-md-4">
                <input asp-for="PostalCode" class="form-control" onchange="checkPostalCode()" />
            </div>
            <div class="col-md-2">
                <input type="button" onclick="setState()" value="郵便番号検索" class="btn btn-warning">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label asp-for="Prefectures"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="Prefectures" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label asp-for="Ctiy"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="Ctiy" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label asp-for="Block"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="Block" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label asp-for="Building"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="Building" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <label asp-for="Remarks"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="Remarks" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <button type="submit" style="width:100px;align-items:center" class="btn btn-info">@ViewData["BottunText"]</button>
        </div>

    </form>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@Html.Partial("_AddressSearch")
